@import 'colores';
@import 'mixins';

header{
    background-color: map-get($colores,color-secundario);  
    margin: 0%;
    padding: 20px;
    margin-bottom: 10px;
    padding-bottom:1px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
}
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
    .menu-horizontal ul{
        list-style-type: none;
        display: flex;
        color: white;
        text-decoration: none;
        justify-content: space-around;

        li a{
            display: flex;
            color: white;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
            font-size: 115%;
            justify-content: space-between;
            padding: 20px;
        }
        li :hover{
            color: map-get($colores,color-principal);
        }
        
    }
}
body{
    background-color: greenyellow;
    font-family: 'Montserrat', sans-serif;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(48, 48, 48);
    color: white;
    padding-left: 3em;
    padding-right: 3em;
    p{
        text-align: center;
    }
}
.logos{
    padding: 5px;
}
.lista-logos{
    list-style-type: none;
    display: flex;
    text-decoration: none;
    justify-content: space-around;
}
.donde-estamos{
    text-align: center;
}

/* Index */
.body-index{
    background-image: url(../img/Media/background-ejemplo-resized.jpg);
    background-size: cover;
}
#conoce-el-mundo{
    position: relative;
}
.conoce-el-mundo{
    height: 630px;
}
.titulo{
    text-align: center;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    
    h1{
        font-size: 45px;
        font-family: 'Montserrat', sans-serif;

        p{
            font-family: 'Montserrat', sans-serif;
            font-size: 45px;
        }
    }
}
.barra{
    font-weight: bolder;
    font-size: 25px;
}

.contenedor-boton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .boton{
        @include sizes(160px, 50px);
        background-color: rgb(48, 48, 48); 
        font-family: 'Montserrat', sans-serif;
        font-size:large;
        color: white;
        border-radius: 7px;
        border: none;
        transition: all 500ms ease;
    }
}
.boton:hover{
    background-color:rgba(48, 48, 48, 0.467);
    border: solid  2px greenyellow;
    color:white
}

/* page turismo */
#carouselExampleIndicators{
    width: 720px;
    height: 500px;
    position: relative;
}
.img-carousel{
    height: 420px;
    position: relative;
    border-radius: 15px;
}

.turismo-boton{
    @extend .boton;
    background-color: greenyellow;
    color: black;
    margin-bottom: 10px;
}

/* Page turismo-joven */
.vid-egresados{
    border-radius: 10px;
    width: 690px;
    height: 400px;
}
@media screen and (max-width: 768px) {
    .vid-egresados{
        width: 680px;
        height: 400px;
    }
}
@media screen and (max-width: 576px) {
    .vid-egresados{
        width: 375px;
        height: 230px;
    }
}

/* Page Turismo Receptivo */
.imgTRec{
    height: 550px;
    width: 1000px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.imgEsUnico{
    height: 550px;
    width: 1000px;
    border-radius: 5px;
    margin-bottom: 20px;
}
@media screen and (max-width: 992px){
    .imgTRec{
        height: 450px;
        width: 750px;
    }
    
    .imgEsUnico{
        height: 450px;
        width: 750px;
    }
}

@media screen and (max-width: 768px){
    .imgTRec{
        height: 300px;
        width: 600px;
    }
    
    .imgEsUnico{
        height: 300px;
        width: 600px;
    }
}

@media screen and (max-width: 576px){
    .imgTRec{
        height: 200px;
        width: 350px;
    }
    
    .imgEsUnico{
        height: 200px;
        width: 350px;
    }
}

/* Pagina Contacto */
.formulario{
    background-color: rgba(48, 48, 48, 0.773);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
    .palabras-formulario{
        color: white;
    }
    .boton-formulario{
        margin-bottom: 10px;
    }
    .aaa{
        margin-bottom: 25px;
    }